/build-libc.ninja
/llvm-build
/host
/compiler-rt-4.0.1.src/lib/builtins/disabled
/lib
*~
*.swp
._*
/install/install
/generate-vcxproj/generate-vcxproj

/closure-compiler.jar
/closure-compiler-build.txt
