[submodule "download-txz/BearSSL"]
	path = tools/BearSSL
	url = https://www.bearssl.org/git/BearSSL
[submodule "download-txz/xz-embedded"]
	path = tools/xz-embedded
	url = http://git.tukaani.org/xz-embedded.git
[submodule "tools/tomlc99"]
	path = tools/tomlc99
	url = https://github.com/cktan/tomlc99.git
[submodule "tools/zlib"]
	path = tools/zlib
	url = https://github.com/madler/zlib.git
