/build-libc.ninja
/llvm-build
/host
/compiler-rt-4.0.1.src/lib/builtins/disabled
lib
*~
*.swp
._*
/install/install
/generate-vcxproj/generate-vcxproj

closure-compiler.jar
/closure-compiler-build.txt
*.db
*.user
/tools/bin
*.opendb
Debug
Release
.vs
.ninja_deps
.ninja_log
download.done
.DS_Store
download.hash
/tools/ninja
/test/x64
